<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Đơn Phép</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-3">
     <h3 class="text-center">Gửi thông tin nghỉ phép</h3>
     <form action="/employee_info/<%=user.ID%>" method="post">
        <input type="hidden" name="ID" value="<%=user.ID%>" class="form-control" >
         <!-- <label for="FullName">Tên Nhân Viên</label>
         <input type="text" name="FullName" value="<%=user.FullName%>" class="form-control">

         <label for="Age">Tuổi</label>
         <input type="text" name="Age" value="<%=user.Age%>" class="form-control">

         <label for="Address">Địa Chỉ</label>
         <input type="text" name="Address" value="<%=user.Address%>" class="form-control"> -->

         <label for="Email">Email</label>
         <input type="email" name="Email" value="<%=user.Email%>" class="form-control">


         <label for="DayOffStart">DayOffStart</label>
         <input type="datetime-local" name="DayOffStart" class="form-control">

         <label for="DayOffEnd">DayOffEnd</label>
          <input type="datetime-local" name="DayOffEnd" class="form-control">

            <label for="LeaveType">Loại nghỉ:</label>
            <select class="form-control" id="LeaveType" name="LeaveType" required>
              <option value="1">Nghỉ phép</option>
              <option value="2">Nghỉ không lương</option>
            </select>
         
         <input type="submit" value="Gửi Đơn Nghỉ" class="btn btn-primary mt-2"> <br>
         <a href="/employee_info/<%=user.ID%>">Quay lại?</a>
     </form>
    </div>
  </body>
</html>
